article {
    border: 1px solid black;
}

img {
    width: 50%;
    height: 50%;
}
aside {
    width: 60%;
    height: 80%;
    background-color: aliceblue;
    position: fixed;
    top: 15%;
    right: 15%;
    overflow: scroll;
}