body{
    background-color: #4C4C4C;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-size: 5em;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    text-align: center;
    color: #D1D1D1;
}

article {
    background-color: #4C4C4C;
    border-right: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
    color: #D1D1D1;
}

article h3{
    cursor: pointer;
}

article h3:hover {
    color: #85C7F2;
}


img {
    width: 50%;
    height: 50vh;
}
aside {
    width: 60%;
    height: 80%;
    background-color: aliceblue;
    position: fixed;
    top: 15%;
    right: 15%;
    overflow: scroll;
}
.reqField{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
#query{
    width: 50%;
    font-size: 2em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #636363;
    background-color:  #4C4C4C;
    color: #D1D1D1;
}
#search{
    width: 10%;
    border: 1px solid #D1D1D1;
    margin-left: 1%;
    background-color:  #4C4C4C;
    color: #D1D1D1;
}
@media screen and (max-width: 450px) {
    h1{
        font-size: 3em;
    }
    #search{
        width: 20%;
    }
}

/* gainsboro #DBDBDB
light sky blue #85C7F2
dim grey #636363 */